*~
*.pyc
*.o
.vscode
s1proc/bin/**/*
!s1proc/bin/snaphu.exe
!s1proc/bin/msys-2.0.dll
!s1proc/bin/aria2c.exe
!s1proc/bin/COPYING
!s1proc/bin/LICENSE.OpenSSL
csrc/build
csrc/CMakeFiles
__pycache__
*.egg-info
*.so
output/
conda_test/
