cmake>=3.5
ninja
libcufft-dev
libcufft
cuda-toolkit
sqlite
cupy
dask>=2024.1.0
numpy>=1.23
pandas>=2.0
numba>=0.58
matplotlib>=3.8
requests>=2.31
tyro>=0.9
tqdm>=4
pyaps3>=0.3.7
sentineleof>=0.12.0
sardem>=0.13.0
gdal>=3.10
zarr>=2.18.3
dacite>=1.9.2
ruamel.yaml>=0.18.0
platformdirs>=4.0
